<!-- <div class="cart-container bg-light p-3 rounded" [class.visible]="(cartService.cartVisible$ | async)">
    <h2 class="mb-3">Shopping Cart</h2>
    <div *ngIf="cartItems.length === 0">
        <p>Your cart is empty.</p>
      </div>
      <div *ngFor="let item of cartItems" class="cart-item">
        <div class="item-details">
          <h5>{{ item.product.name }}</h5>
          <p>{{ item.product.description }}</p>
          <div class="item-price">{{ item.product.price }} USD</div>
          <div class="item-quantity">Quantity: {{ item.quantity }}</div>
        </div>
      </div>
  </div> -->

  <div class="cart-container bg-light p-3 rounded shadow-sm" [class.visible]="cartVisible$ | async">
    <h3 class="mb-4">Cart</h3>
    <div *ngIf="cartItems.length === 0" class="text-center">
      <p>Your cart is empty.</p>
    </div>
    <div *ngFor="let item of cartItems" class="cart-item mb-3 border-bottom pb-2">
      <div class="item-details d-flex justify-content-between align-items-center">
        <div>
          <h5 class="mb-1">{{ item.product.name }}</h5>
          <p class="mb-1">{{ item.product.description }}</p>
          <div class="item-price">{{ item.product.price }} USD</div>
        </div>
        <div class="text-end">
          <div class="item-quantity d-flex align-items-center">
            <button class="btn btn-outline-secondary btn-sm me-2" (click)="decreaseQuantity(item.product.id)">-</button>
            <span class="badge bg-secondary">{{ item.quantity }}</span>
            <button class="btn btn-outline-secondary btn-sm ms-2" (click)="increaseQuantity(item.product.id)">+</button>
          </div>
          <button class="btn btn-danger btn-sm mt-2" (click)="removeProduct(item.product.id)">Remove Product</button>
        </div>
      </div>
    </div>
    <div *ngIf="cartItems.length > 0" class="mt-4 text-end">
        <h5>Total Cost: {{ totalCost$ | async }} USD</h5>
        <button class="btn btn-success">Checkout</button>
      </div>
  </div>
  
  